</main>
<!-- Main Content End -->

<!-- Footer Start -->
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Locate a Socket</h5>
        <p class="grey-text text-lighten-4">Your ultimate companion for finding EV charging stations anywhere you go.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
          <li><a class="grey-text text-lighten-3" href="/map">Find Stations</a></li>
          <li><a class="grey-text text-lighten-3" href="/profile">My Profile</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Help & Support</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2025 Locate a Socket. All rights reserved.
      <a class="grey-text text-lighten-4 right" href="#!">Privacy Policy</a>
    </div>
  </div>
</footer>
<!-- Footer End -->

<!-- jQuery (required by Materialize) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Materialize JS from CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<!-- Your custom JS -->
<script src="/js/main.js"></script>

</body>
</html>